.context_row {
	display: flex;
	height: 74px;
	padding: 16px 24px;
	align-items: center;
	gap: 12px;
	align-self: stretch;
}
.context_row_text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	align-self: stretch;
}
.context_row_text_date {
	color: #101828;
	font-family: Inter;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	text-align: left;
	display: flex;
	flex-direction: row;
	gap: 12px;
}
.row_text_end {
	display: flex;
	align-items: center;
	align-self: stretch;
	color: #fff !important;
	background: #667085;

	border-radius: 24px;
	width: fit-content;
	padding: 4px 10px;
}
.row_text_new {
	display: flex;
	align-items: center;
	align-self: stretch;
	color: #fff !important;
	background: #6172f3;
	border-radius: 24px;
	width: fit-content;
	padding: 4px 10px;
}
.row_text_work {
	display: flex;
	align-items: center;
	align-self: stretch;
	color: #fff !important;
	background: #fb6514;

	border-radius: 24px;
	width: fit-content;
	padding: 4px 10px;
}
.context_row_purchase {
	display: flex;
	height: 74px;
	padding: 16px 24px 16px 56px;
	align-items: center;
	gap: 12px;
	align-self: stretch;
}
.row_text {
	color: #101828;

	/*  */
	font-family: Inter, Text sm/Medium;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px; /* 142.857% */
	cursor: pointer;
}
.row_text2 {
	color: #667085;

	/*  */
	font-family: Inter, Text sm/Medium;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px; /* 142.857% */
	cursor: pointer;
}
.row_purchase_text {
	color: var(--gray-900, #101828);
	cursor: pointer;
	/* */
	font-family: Inter, Text sm/Semibold;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 20px; /* 142.857% */
}
