@import './themes/dark-theme.scss';
@import './themes/day-theme.scss';
@import './reset';

html {
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  overflow-x: hidden;
  background-color: #000000;
  scroll-behavior: smooth;
  position: relative;
}

.slick-dots ul li.slick-active div {
  background-color: #1398A0;
}

.slick-dots ul li {
  width: 10px;
  height: 10px;
}

*{
  box-sizing: border-box;
}
.slick-list {
  padding: 0;
}


*::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}
*::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: #999999;
}

*::-webkit-scrollbar-track:hover {
  background-color: #838383;
}

*::-webkit-scrollbar-track:active {
  background-color: #797979;
}

*::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background-color: #1BB8BD;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #179DA1;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #179A9F;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0;
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,174,255,0.04) 50%,rgba(255,255,255,0) 51%,rgba(0,174,255,0.03) 100%);  
}