.MobileRowList {
  & .swiper {
    width: calc(100% + 40px);
    overflow: hidden;
    margin: 0 -20px;
    z-index: 0;
    overflow: visible;
  }

  & .swiper-wrapper {
    padding: 0 20px;
  }

  & .swiper-slide  {
    width: fit-content;
  }
}

