.container {
  padding: 20px 0px;
}
.chart {
  width: 100%;
  height: 53vh;
  margin-top: 1vh;
}
.chart_cash_flow {
  width: 100%;
  height: 56.2vh;
  /* margin-top: 3vh; */
}
.chart_solo {
  width: 100%;
  height: 55vh;
  margin-top: 15vh;
}
.chart_solo_clients {
  margin-top: 15vh;
}
.block_structure_payments {
  display: flex;
  margin: 10vh 0vh 0vh 3vh;
  width: 100%;
  height: 60vh;
}
.payments_income {
  flex-direction: column;
  width: 40%;
}
.sharts_pi {
  width: 57%;
  display: flex;
}
