.ButtonBlack {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: #000000;
  border: 1px solid #333333;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  line-height: 20px;
}