.header_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  height: 9vh;
}
.header_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
}
.name_company {
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px;
}
.header_date {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
