.app__dark_theme {
  --bg: #1F1E1C;
  --accent: #D7B27B;
  --accent-transparent: #d7b27b21;
  --accent-disabled: #836e4e;
  --text: #FFFFFF;
  --gray: #333230;
  --color: #58544C;
  --dark-gray: #BAB8B4;
  --exchange-up: #32AD13;
  --exchange-down: #AC4747;
  --bg-body: #333230;
  --map-gradient: linear-gradient(0deg, rgba(51, 50, 48, 1) 58%, rgba(115, 115, 115, 0) 64%);
  --color-hovered: #756e60;
  --exchange-stable-course: #ACA493;
}