.app__day_theme {
  --bg: #fff;
  --accent: #D7B27B;
  --accent-transparent: #d7b27b21;
  --accent-disabled: #836e4e;
  --text: #1F1E1C;
  --gray: #F5F5F5;
  --color: #EDE8DA;
  --dark-gray: #9F9F9E;
  --exchange-up: #32AD13;
  --exchange-down: #AC4747;
  --bg-body: #EDE8DA;
  --map-gradient: linear-gradient(0deg, #D9D9D9 58%, rgba(115, 115, 115, 0) 64%);
  --color-hovered: #e7dab7;
  --exchange-stable-course: #ACA493;
}