.container_filter {
  border-radius: 8px;
  display: flex;
  padding: 8px 32px;
  align-items: center;
  border: 1px solid var(--gray-300, #EAECF0);
  background: var(--White, #fff);

  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.container_filter_content {
  display: flex;
  padding: 16px 0px;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  border-radius: 8px;
}
.container_filter_content_input {
  display: flex;
  width: 263px;
  padding: 10px 14px;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid var(--gray-300, #d0d5dd);
  background: var(--White, #fff);

  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.filter_content_main {
  display: flex;
  align-items: center;
  gap: 32px;
}
.container_filter_checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--gray-900, #101828);

  /*  */
  font-family: Inter, Text md/Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.checkbox_container input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 20px;
  width: 20px;
  top: -9px; 
  left: 0;
  z-index: 1;
}

.checkbox_container {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
  position: relative;
  padding-left: 20px;
}

.checkbox_container .checkbox_form {
  position: absolute;
  left: 0;
  top: -9px;
  height: 20px;
  width: 20px;
  background-color: #ffffff;
  border: 2px solid #D0D5DD;
  border-radius: 6px;
  margin-right: 10px;
}

.checkbox_container:hover .checkbox_form {
  background-color: #e1dbdb;
}

.checkbox_container input[type="checkbox"]:checked + .checkbox_form {
  background-color: #ffffff;
  border-color: #444CE7;
}

.checkbox_container .checkbox_form:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox_container input[type="checkbox"]:checked + .checkbox_form:after {
  display: block;
}

.checkbox_container .checkbox_form:after {
  left: 5px;
  top: 1px;
  width: 6px;
  height: 12px;
  border: solid#444CE7;
  border-width: 0 2.5px 2.5px 0;
  transform: rotate(45deg);
}