.divider {
  margin: 24px 0px 24px 0px;
}
.rules_tittle {
  color: var(--Gray-700, #344054);
  font-family: Inter, Text xl/Medium;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.rules_paragrapg_intro {
  color: var(--Gray-700, #344054);
  font-family: Inter, Text md/Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 16px;
}
.create_rules_btn {
  display: flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid var(--Purple2-600, #444ce7);
  background: var(--Purple2-600, #444ce7);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  color: var(--White, #fff);
  font-family: Inter, Text md/Semibold;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  text-decoration: none;
  width: 206px;
}


/* .switch_rule{
  display: flex;
  flex-direction: row;
} */

.main_users_settings {
  width: 100%;
  height: 100%;
  /* height: 1000px; */
  display: flex;
  flex-direction: column;
}
.table_container {
  flex-grow: 1;
  border-radius: 8px;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06),
    0px 1px 3px 0px rgba(16, 24, 40, 0.1);
  border: 1px solid #D0D5DD;
  border-right: none;
  border-bottom: none;
  width: 95%;
  padding: 1px;
  /* height: 1000px; */
  /* height: 80%; */
  overflow: hidden;
}
.users_table {
  width: 100%;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06),
    0px 1px 3px 0px rgba(16, 24, 40, 0.1);
  background: var(--White, #fff);
  border-collapse: collapse;
  overflow-y: auto;
  /* table-layout: fixed; */
  height: 100%;
}

.menu{
  box-shadow: 0px 0px 0px 0px;
  border: 1px solid black;
  /* background-color: white; */
}



.head_table {
  background-color:  #F9FAFB;
  font-family: Inter, Text sm/Medium;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  color: #667085;
  /* height: 44px; */
}

.table_head_email,
.table_head_role,
.table_head_status,
.table_head_name,
.table_head_lastSeen,
.table_head_created{
  color: #667085;
}

.table_role,
.table_lastSeen,
.table_created,
.table_name span{
  color: #667085;
}

.table_head_email {
  padding: 12px 12px;
  /* border-bottom: 1px solid #D0D5DD; */
}

tr td{
  border: 1px solid #D0D5DD;
  border-left: none;
  border-top: none;
}





.body_table {
  color: var(--gray-900, #102811);
  font-family: Inter, Text sm/Regular;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 12px 12px;
  /* gap: 12px; */
}
/* .table_row {
  height: 6.1vh;
} */

.table_info{
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  font-family: Inter, Text md/Medium;
  color: #101828
}

.table_termin{
  color: #667085;
}

.table_status span{
  background-color: #F2F4F7;
  border-radius: 16px;
  padding: 2px 8px 2px 8px;
}
.table_succsess span{
  background-color: #ECFDF3;
  color: #027A48;
}

.container_options {
  display: flex;
  /* margin-bottom: 32px; */
  position: relative;

}

.options{
  overflow: hidden;
  max-width: 279px;
  max-height: 374px;
  display: flex;
  flex-direction: column;

  position: absolute;
  left: -250px;
  top: -250px;
  z-index: 1;

  background-color: #F9FAFB;
  padding: 10px;
  border: 1px solid #ebeef0;
  border-radius: 10px
}

.non_visible{
  display: none;
}

.option_title{
  font-family: Inter, Text md/Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
  padding: 7px 0 7px 10px;
  border-radius: 10px
}

.option_title:hover{
  background-color: #ebeef0;
}

.pagination {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  padding: 12px 24px;
}
.back_btn,
.forward_btn {
  border: none;
  outline: none;
  display: flex;
  padding: 8px 14px;
  margin:0 14px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid var(--gray-300, #d0d5dd);
  background: var(--White, #fff);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  cursor: pointer;
  height: 36px;
}
.rules_imports_activation {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.actions_imports {
  display: flex;
  width: 10%;
  justify-content: space-between;
}
.activated_rules {
  display: flex;
  align-items: center;
  width: 90%;
  margin-left: 10px;
}
