.FooterDesktopLayout_top {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #333;
	justify-content: space-between;
	padding: 30px 0;
	gap: 16px;

	@media (min-width: 1440px) {
		padding: 60px 0;
		gap: 32px;
	}
}

.FooterDesktopLayout_footerLinks {
	& > nav {
		flex-direction: row;
		gap: 24px;
		flex-wrap: wrap;
		margin-bottom: 0;
	}
}
.FooterDesktopLayout_getApp {
	display: flex;
	gap: 16px;
}

.FooterDesktopLayout_bottom {
	padding: 10px 0 20px;
	display: flex;
	gap: 16px;
	align-items: center;

	@media (min-width: 1440px) {
		padding: 20px 0 40px;
		gap: 32px;
	}
}

.FooterDesktopLayout_copyRight {
	display: flex;
	align-items: center;
	gap: 16px;
}

.FooterDesktopLayout_social {
	margin-left: auto;
	height: fit-content;
}
